.top {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.navbar {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  padding: 1.5rem 1.6rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/********** links **********/

.home-link,
.item {
  padding: 0.8rem 1.6rem;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  color: #777070;
  text-decoration: none;
  cursor: pointer;
  white-space: normal;
  transition: 0.5s;
}

.item:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: -5px;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2.1rem;
  border: none;
  cursor: pointer;
}

#hidden {
  display: flex;
}

.toggle-button .bar {
  height: 0.3rem;
  width: 100%;
  background-color: #777070;
  border-radius: 1rem;
}

/********** media queries **********/
@media only screen and (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .right-item-buttons {
    display: none;
  }

  #hidden {
    position: absolute;
    left: 0;
    top: 8rem;
    height: 23rem;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #hidden .item {
    margin: 0.8rem;
    font-size: 2.2rem;
  }

  .item {
    animation: 1.8s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

  .item:hover {
    box-shadow: none;
  }
}
